.signup-con {
    margin-top: 5vh;
}

.row {
    display: flex;
    gap: 10px;
}

.row>input {
    max-width: 170px;
}
// select box has width 170px 
.row>select {
    max-width: 170px;
}


.other-options>div>a {
    width: 170px !important;
}