footer {
    padding: 20px 0px;
    margin: 0px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--divider-color);
}

.footer-socials {
    display: flex;
    gap: 10px;
}

.footer-socials img {
    transition: all 0.2s;
}

.footer-socials img:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}